body {
  margin: 0;
  padding: 0;
  /* overflow-x: hidden; */
}
/* Toppan Bunkyu Midashi Go StdN */
.toppan-midashi {
  font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* Toppan BunkyuGothicPr6N R */
.toppan-gothic-r {
  font-family: "toppan-bunkyu-gothic-pr6n", serif;
  font-weight: 400;
  font-style: normal;
}
/* Toppan BunkyuGothicPr6N DB */
.toppan-gothic-db {
  font-family: "toppan-bunkyu-gothic-pr6n", serif;
  font-weight: 600;
  font-style: normal;
}
/* Brother 1816/Bold */
.brother-bold {
  font-family: "brother-1816", sans-serif;
  font-weight: 700;
  font-style: normal;
}
/* Noto Sans CJK JP/Black */
.noto-sans-black {
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-weight: 900;
  font-style: normal;
}
/* Kozuka Gothic Pr6N R */
.kozuka-r {
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* Kozuka Gothic Pr6N M */
.kozuka-m {
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 500;
  font-style: normal;
}
/* Kozuka Gothic Pr6N B */
.kozuka-b {
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 700;
  font-style: normal;
}
a {
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
  vertical-align: top;
}
li {
  list-style: none;
}
.wrapper {
  display: flex;
}
.background-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(50% - 250px);
  background-image: url(../img/PC_bg.png);
  background-size: cover;
  background-position: center;
}
.background-right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(50% - 250px);
}
.background-right__inner {
  padding: 7%;
  text-align: right;
}
.background__logo {
  margin-bottom: 50px;
}
.background__nav-item {
  padding: 3px 0;
}
.background__nav-item a {
  color: #2ea7e0;
  font-family: "Toppan Bunkyu Midashi Gothic";
  font-size: 1.4vw;
  font-weight: bold;
  line-height: 1.5;
}
.background__nav-item a:hover {
  color: #e73118;
}
.background__extra-items {
  margin-top: 30px;
}
.background__extra-item a {
  color: #606060;
  font-size: 1vw;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
}
.background__extra-instagram-icon {
  margin-top: 5px;
}
.center-content {
  max-width: 500px;
  width: 100%;
  /* contain: paint; */
  background-color: #fff;
  border: 1px solid #2ea7e0;
  margin: 0 auto;
}
.header {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  max-width: 500px;
  box-sizing: border-box;
  width: 100%;
  z-index: 9999;
}
.header__fixed-logo {
  width: 140px;
  display: none;
}

.header.fixed .header__logo {
  display: none;
}

.header.fixed .header__fixed-logo {
  display: block;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  transition: 0.5s;
  background-color: #fff;
  border-bottom: 1px solid #2ea7e0;
  max-width: 500px;
  width: 100%;
  padding: 11px 20px 16px;
  z-index: 9999;
}

.header__logo {
  display: flex;
  flex-direction: column;
}
.header__logo-img {
  width: 107px;
}

.header__tagline {
  order: -1;
  font-size: 1.2rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: Futura;
  font-weight: bold;
  letter-spacing: 3.6px;
}

.header__menu-inner {
  display: flex;
  justify-self: space-between;
  gap: 6px;
  align-items: center;
}
.header__btn-lang {
  position: relative;
  border: solid 1px #2ea7e0;
  background: #fff;
  cursor: pointer;
  width: 45px;
  height: 25px;
  border-radius: 100px;
}
.header__btn-lang:hover {
  border: solid 1px #e73118;
  background: #e73118;
  color: #fff;
}
.header__btn-lang a {
  position: absolute;
  top: 5.5px;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.header__btn-lang:hover #Vector {
  stroke: #fff; /* ホバー時に色を変更 */
}

.header__btn-lang .header__btn-lang-text {
  font-size: 0.7rem;
  color: #2ea7e0;
  font-weight: bold;
}
.header__btn-lang .header__btn-lang-text {
  font-size: 0.7rem;
  color: #2ea7e0;
  font-weight: bold;
}
.header__btn-lang:hover .header__btn-lang-text {
  color: #fff;
}

.header__btn-mypage {
  position: relative;
  border: solid 1px #2ea7e0;
  background: #fff;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50px;
}

.header__btn-mypage a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 3px;
  left: 50%;
  transform: translateX(-50%);
}

.header__btn-mypage-text {
  margin-top: 2px;
  font-size: 0.3rem;
  color: #2ea7e0;
  font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
  font-weight: 900;
  font-style: normal;
  white-space: nowrap;
}

.header__nav {
  position: fixed;
  z-index: 999;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: all 0.8s;
}
.header__nav-list {
  padding: 30% 15%;
  text-align: right;
}
.header__nav-logo {
  padding: 20px;
}
.header__nav-item {
  padding: 10px 0;
}

.header__nav-item a {
  color: #2ea7e0;
  font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.4rem;
  line-height: 1.5;
}
.header__nav-item a:hover {
  color: #e73118;
}
.extra-nav-items {
  margin-top: 30px;
}
.extra-nav-items a {
  color: #606060;
  font-size: 1rem;
  font-family: Inter;
  line-height: 1.5;
  padding: 10px 0;
}
.extra__instagram-icon {
  margin-top: 10px;
}
.header__nav-openbtn {
  position: relative;
  background: #2ea7e0;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  z-index: 1000;
}

.header__nav-openbtn span {
  display: inline-block;
  transition: all 0.8s;
  position: absolute;
  left: 7px;
  height: 1px;
  background: #fff;
  width: 60%;
}
.header__nav-openbtn span:nth-of-type(1) {
  top: 12px;
}
.header__nav-openbtn span:nth-of-type(2) {
  top: 18px;
}
.header__nav-openbtn span:nth-of-type(3) {
  top: 24px;
}

/*activeクラス付与*/
.header__nav-openbtn.active span:nth-of-type(1) {
  top: 11px;
  left: 7.5px;
  transform: translateY(6px) rotate(-45deg);
}
.header__nav-openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.header__nav-openbtn.active span:nth-of-type(3) {
  top: 23px;
  left: 7.5px;
  transform: translateY(-6px) rotate(45deg);
}
.header__nav.active {
  top: 0;
}
main {
  contain: paint;
}
.main__mv-slider {
  z-index: 10;
}
.main__mv-img {
  width: 100%;
  display: block;
}
/* mvスライドのarrowボタン変更 */
.splide__arrow {
  background: none !important; /* 背景を削除 */
  font-size: 25px;
}
.splide__arrow svg {
  fill: #fff !important; /* SVGの色を白に設定 */
}
#main__mv-slider .splide__arrow--prev {
  left: -10px !important; /* 矢印を左端に寄せる */
}
#main__mv-slider .splide__arrow--next {
  right: -10px !important; /* 矢印を右端に寄せる */
}
.main__mv-slider {
  position: relative;
}
.main__spot-name {
  position: absolute;
  bottom: 50px;
  right: 52px;
  background-color: rgba(255, 255, 255, 1);
  padding: 0 25px;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.875rem;
  line-height: 2;
  letter-spacing: 0.04375rem;
}
.scroll-container {
  margin-top: -60px;
}
.scroll-container__sticky {
  position: sticky;
  top: 270px;
  padding-left: 15px;
  z-index: 9998;
}
.site-concept {
  /* background-image: url(../img/concept_bg.png); */
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  /* height: 500px;
  margin: -300px 0 30px; */
}
.site-concept p {
  color: #e73118;
  font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.1rem;
  letter-spacing: 0.675rem;
  line-height: 2;
  padding: 80px 0 100px 50px;
  /* position: absolute;
  top: 75%;
  left: 50px; */
}
.trip-themes {
  position: relative;
}
.trip-themes__title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px;
  box-sizing: border-box;
}
.trip-themes__inner {
  padding: 0 20px;
}
.trip-themes__title {
  color: #e73118;
  font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
  font-weight: 900;
  font-style: normal;
  display: inline-block;
  font-size: 2rem;
  line-height: 1.4;
  letter-spacing: 0.1rem;
  padding-left: 10%;
  white-space: nowrap;
}
.trip-themes__search-btn {
  display: inline;
  cursor: pointer;
}
.trip-themes__title.active {
  display: none;
}
.trip-themes__search-btn.active {
  display: none;
}
.trip-themes__item {
  position: relative;
}
.trip-themes__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin: 50px 0;
}
.trip-themes__thumbnail {
  border-radius: 20px;
}
.trip-themes__item:hover .trip-themes__thumbnail {
  opacity: 0.5;
}
.trip-themes__theme-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "noto-sans-cjk-jp", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 1.1rem;
  line-height: 1.3;
  letter-spacing: 0.9px;
  white-space: nowrap;
}
.trip-themes__theme-title span {
  font-size: 2.375rem;
  font-family: "brother-1816", sans-serif;
  font-weight: 700;
  font-style: normal;
  display: inline-block;
  white-space: normal;
}

/* 検索画面 */

.search__modal {
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  max-width: 500px;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.8s ease, visibility 0.8s ease;
}
.search__modal-inner {
  box-shadow: inset 0 0 0 2px #2ea7e0;
  max-width: 500px;
  width: 100%;
  height: 260px;
  position: fixed;
  top: 40%;
  transform: translate(-50%, 0);
  background-color: rgba(255, 255, 255, 1);
  opacity: 0;
  transform: scale(0.95);
  transition: opacity 0.8s ease, transform 0.8s ease;
}
.search__modal.active {
  opacity: 1;
  visibility: visible;
}

.search__modal.active .search__modal-inner {
  opacity: 1;
  transform: scale(1);
}
.search__close-container {
  position: relative;
}
.search__close-btn {
  position: absolute;
  top: 20px;
  right: 36px;
  border: 1px solid #2ea7e0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 1000;
}
.search__close-btn span {
  display: inline-block;
  transition: all 0.8s;
  position: absolute;
  left: 8px;
  height: 1px;
  background: #2ea7e0;
  width: 80%;
}
.search__close-btn span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  top: 13px;
  left: 5px;
}
.search__close-btn span:nth-of-type(2) {
  transform: translateY(-6px) rotate(45deg);
  top: 26px;
  left: 5px;
}
.search__modal p {
  text-align: center;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 1.5;
  letter-spacing: 1.4px;
  padding: 60px 0 20px;
}
.search__modal-container {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #2ea7e0;
  background-color: #fff;
  box-shadow: 3px 3px 0px 0px #333;
  padding: 3px 10px;
  border-radius: 10px;
  height: 45px;
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
}
.search__modal-container input[type="text"] {
  border: none;
  height: 38px;
  font-size: 1rem;
}
.search__modal-container input[type="text"]:focus {
  outline: 0;
}
.search__modal-container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #2ea7e0;
  position: absolute;
  width: 52px;
  height: 45px;
  right: 0px;
  top: 0px;
  outline: none;
}
.search__modal-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  margin-top: -0.5em;
  color: #fff;
}
.search__modal-container .fa-search {
  font-size: 1.7rem; /* アイコンのサイズ変更 */
}

.columns {
  text-align: center;
  background-color: #e73118;
  color: #fff;
  padding: 62px 20px 44px;
}
.columns__container {
  border: 1px solid #fff;
  border-radius: 20px;
  position: relative;
  padding: 66px 0 44px;
}
.columns__header {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 12px 7px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  background: #2ea7e0;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 700;
  font-style: normal;
  text-align: center;
  white-space: nowrap;
}
.columns__header::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 45%;
  transform: translateX(-45%);
  border: 20px solid transparent;
  border-top: 15px solid #2ea7e0;
  transform: rotate(-90deg);
}
.columns__title {
  font-family: "Toppan Bunkyu Midashi Gothic";
  font-size: 2rem;
  font-family: "toppan-bunkyu-midashi-go-std", sans-serif;
  font-weight: 900;
  font-style: normal;
  line-height: 1.3;
  letter-spacing: 1.6px;
  margin-bottom: 30px;
}
.columns__img {
  border-radius: 20px;
  margin-bottom: 35px;
  width: 80%;
  height: auto;
  object-fit: cover;
}
.columns__text {
  text-align: left;
  padding: 0 10% 10%;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 700;
  font-style: normal;
  letter-spacing: 0.1rem;
}
.columns__author {
  margin-bottom: 15px;
}
.columns__description {
  position: relative;
  padding: 5% 14%;
}
.columns__description::before,
.columns__description::after {
  position: absolute;
  content: "";
  width: 14%;
  aspect-ratio: 1.4 / 1;
}
.columns__description::before {
  border-left: solid 1px;
  border-top: solid 1px;
  top: 0;
  left: 0;
}
.columns__description::after {
  border-right: solid 1px;
  border-bottom: solid 1px;
  bottom: 0;
  right: 0;
}
.columns__btn {
  background: #2ea7e0;
  cursor: pointer;
  width: 250px;
  height: 60px;
  border-radius: 100px;
  margin: 5% auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.columns__btn a {
  color: #fff;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.1rem;
}

/* コラムスライダー設定 */
.splide__pagination__page.is-active {
  background: #2ea7e0 !important; /* アクティブなドットの背景色 */
}
#splide-column .splide__arrow {
  top: calc(50% + 30px);
  font-size: 25px;
}
#splide-column .splide__arrow--prev {
  transform: translateX(-50%);
}
#splide-column .splide__arrow--next {
  transform: translateX(50%);
}
footer {
  background-color: #f0eae1;
  padding: 60px 20px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.footer__logo {
  width: 51.6%;
  height: 100%;
  margin: 0 auto;
}

.footer__instagram-icon {
  margin-bottom: 10px;
  width: 80px;
}
.footer__copyright {
  color: #2ea7e0;
  text-align: center;
  font-family: "kozuka-gothic-pr6n", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 0.7rem;
  line-height: 2;
  letter-spacing: 0.045rem;
  padding-bottom: 88px;
}

/* アーカイブページ */
.search-results {
  margin-top: 95px;
  text-align: center;
  font-family: "Kozuka Gothic Pr6N";
  font-size: 1.375rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.125rem;
  letter-spacing: 0.06875rem;
  margin-bottom: 15px;
}
.filter-container {
  display: flex;
  justify-content: center;
}
.filter-container__btn {
  display: inline-flex;
  align-items: center;
  font-family: "toppan-bunkyu-gothic-pr6n", serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  letter-spacing: 1.2px;
  line-height: 2.8rem;
  color: #2ea7e0;
  border-radius: 10px;
  border: 1px solid #2ea7e0;
  background: #fff;
  box-shadow: 3px 3px 0px 0px #333;
  padding: 3px 20px;
  margin-bottom: 30px;
}
.filter-container__btn-icon {
  margin-left: 18px;
  width: 14px;
}
.area__modal {
  position: fixed;
  width: 500px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.area__modal-inner {
  /* box-shadow: inset 0 0 0 2px #2ea7e0; */
  border: 1px solid #2ea7e0;
  max-width: 500px;
  width: 100%;
  height: 100%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 1);
  padding: 0 20px;
  box-sizing: border-box;
}
.area__modal.active {
  display: block;
}
.area__close-container {
  position: relative;
}
.area__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  border: 1px solid #2ea7e0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 1000;
}
.area__close-btn span {
  display: inline-block;
  transition: all 0.8s;
  position: absolute;
  left: 8px;
  height: 1px;
  background: #2ea7e0;
  width: 80%;
}
.area__close-btn span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  top: 13px;
  left: 5px;
}
.area__close-btn span:nth-of-type(2) {
  transform: translateY(-6px) rotate(45deg);
  top: 26px;
  left: 5px;
}
.area__modal p {
  text-align: center;
  font-family: YuGothic;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.4px;
  padding: 60px 0 40px;
}

.area__modal.active {
  display: block;
}

.map {
  position: relative;
  text-align: center;
  margin-bottom: 30px;
}

.cls-1 {
  letter-spacing: -0.25em;
}

.cls-1,
.cls-2 {
  font-family: KozGoPr6N-Regular-83pv-RKSJ-H, "Kozuka Gothic Pr6N";
}

.cls-3 {
  stroke-width: 1.44px;
}

.cls-3,
.cls-4 {
  fill: none;
}

.cls-3,
.cls-5,
.cls-6 {
  stroke: #2ea7e0;
}

.cls-4,
.cls-7 {
  stroke-width: 0px;
}

.cls-5 {
  fill: url(#_10_lpi_20_);
}

.cls-5,
.cls-6 {
  stroke-width: 3px;
}

.cls-8 {
  letter-spacing: -0.18em;
}

/* .cls-8,
.cls-9,
.cls-10 {
  font-family: Brother-1816-Bold, "Brother 1816";
  font-weight: 700;
} */

.cls-9,
.cls-2 {
  letter-spacing: -0.2em;
}

.cls-11 {
  font-size: 1.2rem;
}

.cls-11,
.cls-7,
.cls-12 {
  fill: #2ea7e0;
}

.cls-12 {
  font-size: 1.25rem;
}

.cls-6 {
  fill: #fff;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#aomori .cls-6,
#towada .cls-6,
#mutsu .cls-6,
#gosho .cls-6,
#hirosaki .cls-6,
#shirakami .cls-6 {
  transition: fill 0.3s ease, stroke 0.3s ease;
}

#aomori:hover .cls-6,
#towada:hover .cls-6,
#mutsu:hover .cls-6,
#gosho:hover .cls-6,
#hirosaki:hover .cls-6,
#shirakami:hover .cls-6 {
  fill: #2ea7e0;
  /* stroke: white; */
}

#aomori .cls-7,
#towada .cls-7,
#mutsu .cls-7,
#gosho .cls-7,
#hirosaki .cls-7,
#shirakami .cls-7 {
  transition: fill 0.3s ease;
}
#aomori:hover .cls-7,
#gosho:hover .cls-7,
#hirosaki:hover .cls-7,
#towada:hover .cls-11,
#mutsu:hover .cls-11,
#shirakami:hover .cls-12 {
  fill: #fff;
}

#towada:hover .cls-11,
#mutsu:hover .cls-11,
#shirakami:hover .cls-12 {
  fill: #fff;
}
.map__image {
  width: 100%;
  height: auto;
  display: block;
}
.map__labels {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.map__label {
  background-color: white;
  color: #d63333;
  font-size: 0.8rem;
  font-family: "Kozuka Gothic Pr6N";
  font-weight: 500;
  border: 2px solid #2ea7e0;
  border-radius: 50px;
  padding: 20px;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  max-width: 200px;
}

.en.small {
  font-size: 0.6rem; /* 中程度に小さいフォントサイズ */
}

.en.smaller {
  font-size: 0.5rem; /* より小さいフォントサイズ */
}
.map__label:hover {
  background-color: #2ea7e0;
  color: white;
}
.map__label text {
  fill: #d63333;
}
.map__label:hover text {
  fill: white;
}
.highlight {
  background-color: #2ea7e0;
  color: white;
}
.map__label span {
  display: inline-block;
  margin: 3px 0; /* 余白をゼロに設定 */
}
.spot-list {
  padding: 0 20px;
}
.spot-list__link {
  color: #333;
}
.spot-list__item {
  display: flex;
  overflow: hidden;
  margin-bottom: 30px;
}

.spot-list__img-container {
  overflow: hidden;
  width: 50%;
}

.spot-list__thumbnail {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.spot-list__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 10px 10px;
}

.spot-list__title {
  font-size: 1.375rem;
  font-family: "Kozuka Gothic Pr6N";
  color: #359dd1;
  letter-spacing: 0.0625rem;
  line-height: 1.6;
  margin-bottom: 2px;
}

.spot-list__city {
  font-size: 1rem;
  width: 86px;
  font-family: "Kozuka Gothic Pr6N";
  text-align: center;
  letter-spacing: 0.0625rem;
  line-height: 2;
  color: #359dd1;
  border: 1px solid #359dd1;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 2px;
}

.spot-list__description {
  font-size: 1rem;
  font-family: "Kozuka Gothic Pr6N";
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  margin-bottom: 5px;
}
.spot-list__map-iframe {
  width: 100%;
  height: 90px;
  padding: 0 5px;
}

/* 詳細ページ */
.spot-details {
  margin-top: 95px;
}
.spot-details__title {
  color: #2ea7e0;
  font-size: 1.375rem;
  letter-spacing: 0.05rem;
  line-height: 1.6;
  padding: 0 20px;
}
.spot-details__description {
  text-align: left;
  font-size: 1.25rem;
  letter-spacing: 0.0625rem;
  line-height: 1.3;
  margin-left: 10px;
  margin-bottom: 20px;
  padding: 0 20px;
}
.spot-details__tag-container {
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
}
.spot-details__favorite-btn {
  width: 12%;
  display: flex;
  align-items: flex-end;
  margin-bottom: 24px;
}
.spot-details__favorite-btn img {
  width: 100%;
}
.spot-details__tags {
  color: #2ea7e0;
  font-size: 1.125rem;
  line-height: 2;
  letter-spacing: 0, 05rem;
  width: 88%;
  display: flex;
  flex-wrap: wrap;
  gap: 7px 10px;
  margin-bottom: 24px;
}
.spot-details__tag {
  border: 1px solid #2ea7e0;
  padding: 0 20px;
  border-radius: 50px;
  white-space: nowrap;
  text-align: center;
}

.spot-details__slider {
  padding: 0;
  margin-bottom: 15px;
}
.spot-details__text {
  padding: 0 20px;
}
.spot-details__introduction {
  font-size: 1.125rem;
  font-family: KozGoPr6N-Regular-83pv-RKSJ-H, "Kozuka Gothic Pr6N";
  font-weight: 400;
  letter-spacing: 0.125rem;
  line-height: 1.5;
  margin-bottom: 15px;
}
.spot-details__map {
  max-height: 170px;
  margin-bottom: 15px;
}
.spot-details__map iframe {
  height: 100%;
  width: 100%;
}
.spot-info {
  border: 1px solid #2ea7e0;
  border-radius: 20px;
  width: 100%;
  margin-bottom: 68px;
}
.spot-info__table {
  width: 100%;
  border-collapse: collapse;
}

.spot-info__row {
  border-top: 1px solid #2ea7e0;
}

.spot-info__row:first-child {
  border-top: none;
}
.spot-info__label {
  border-right: 1px solid #2ea7e0;
  padding: 5px 0;
  text-align: center;
  vertical-align: middle;
  font-size: 1.125rem;
  font-family: KozGoPr6N-Regular-83pv-RKSJ-H, "Kozuka Gothic Pr6N";
  font-weight: 500;
  line-height: 2;
  width: 30%;
}
.spot-info__value {
  padding: 5px 7px;
  text-align: left;
  color: #000;
  font-size: 1rem;
  font-family: KozGoPr6N-Regular-83pv-RKSJ-H, "Kozuka Gothic Pr6N";
  font-weight: 500;
  line-height: 2;
  width: 70%;
}
.spot-info__map-link {
  color: #2ea7e0;
  text-decoration: none;
  border: 1px solid #2ea7e0;
  border-radius: 5px;
  padding: 2px 5px;
  margin-left: 5px;
}
.nearby-spots__heading {
  font-size: 1.375rem;
  line-height: 1.6;
  font-family: KozGoPr6N-Regular-83pv-RKSJ-H, "Kozuka Gothic Pr6N";
  font-weight: 700;
  letter-spacing: 0.06875rem;
  margin-bottom: 12px;
}
.nearby-spots__list {
  display: flex;
  overflow-x: auto;
  gap: 32px;
}
.nearby-spots {
  padding-left: 20px;
}
.nearby-spots__link {
  color: #333;
  flex-shrink: 0;
}
.nearby-spots__item {
  display: flex;
  overflow: hidden;
  max-width: 400px;
  margin-bottom: 60px;
}

.nearby-spots__img-container {
  overflow: hidden;
  width: 46%;
}

.nearby-spots__thumbnail {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.nearby-spots__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 10px 10px;
  width: 48%;
}

.nearby-spots__title {
  font-size: 1.375rem;
  font-family: "Kozuka Gothic Pr6N";
  color: #359dd1;
  letter-spacing: 0.0625rem;
  line-height: 1.6;
  margin-bottom: 2px;
}

.nearby-spots__city {
  font-size: 1rem;
  width: 86px;
  font-family: "Kozuka Gothic Pr6N";
  text-align: center;
  letter-spacing: 0.0625rem;
  line-height: 1.6;
  color: #359dd1;
  border: 1px solid #359dd1;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 2px;
}
.nearby-spots__description {
  font-size: 1rem;
  font-family: "Kozuka Gothic Pr6N";
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  margin-bottom: 5px;
}
.nearby-spots__map-iframe {
  width: 95%;
  height: 60px;
  padding: 0 5px;
}
.recommended-spots__heading {
  font-size: 1.375rem;
  line-height: 1.6;
  font-family: KozGoPr6N-Regular-83pv-RKSJ-H, "Kozuka Gothic Pr6N";
  font-weight: 700;
  letter-spacing: 0.06875rem;
  margin-bottom: 12px;
}
.recommended-spots__list {
  display: flex;
  overflow-x: auto;
  gap: 32px;
}
.recommended-spots {
  padding-left: 20px;
}
.recommended-spots__link {
  color: #333;
  flex-shrink: 0;
}
.recommended-spots__item {
  display: flex;
  overflow: hidden;
  width: 400px;
  margin-bottom: 60px;
}

.recommended-spots__img-container {
  overflow: hidden;
  width: 46%;
}

.recommended-spots__thumbnail {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 20px;
}

.recommended-spots__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0 0 10px 10px;
  width: 48%;
}

.recommended-spots__title {
  font-size: 1.375rem;
  font-family: "Kozuka Gothic Pr6N";
  color: #359dd1;
  letter-spacing: 0.0625rem;
  line-height: 1.6;
  margin-bottom: 2px;
}

.recommended-spots__city {
  font-size: 1rem;
  width: 86px;
  font-family: "Kozuka Gothic Pr6N";
  text-align: center;
  letter-spacing: 0.0625rem;
  line-height: 1.6;
  color: #359dd1;
  border: 1px solid #359dd1;
  border-radius: 50px;
  display: inline-block;
  margin-bottom: 2px;
}

.recommended-spots__description {
  font-size: 1rem;
  font-family: "Kozuka Gothic Pr6N";
  letter-spacing: 0.0625rem;
  line-height: 1.5;
  margin-bottom: 5px;
}
.recommended-spots__map-iframe {
  width: 95%;
  height: 60px;
  padding: 0 5px;
}
@media (max-width: 767px) {
  .background-left {
    display: none;
  }
  .background-right {
    display: none;
  }

  .header__nav-item a {
    font-size: 1rem;
  }
  .center-content {
    border: none;
  }
  .scroll-container__sticky {
    top: 180px;
  }
  .trip-themes__title {
    font-size: calc(1.2rem + 1vw);
  }
  .trip-themes__search-btn {
    padding: 0;
  }

  .trip-themes__theme-title {
    font-size: 0.9rem;
  }
  .trip-themes__theme-title span {
    font-size: 1.5rem;
  }
  #splide-column .splide__arrow {
    top: calc(50% - 15px);
    font-size: 20px;
  }
  .search__modal {
    width: 100%;
  }
  .search-results {
    font-size: 1.2rem;
  }
  .button-container__filter-button {
    font-size: 1.375rem;
  }
  .spot-list__title {
    font-size: 1.2rem;
  }
  .spot-list__city {
    font-size: 0.8rem;
    line-height: 1.7;
  }

  .spot-list__description {
    font-size: 0.8rem;
    margin-bottom: 2px;
  }

  .spot-list__map-iframe {
    height: 70px;
  }
  .area__close-btn {
    right: 0;
  }
  .area__modal {
    width: 100%;
  }
  .area__modal p {
    padding: 60px 0 30px;
  }

  .map__label {
    padding: 10px;
    font-size: 0.7rem;
  }
  .en.small {
    font-size: 0.5rem; /* 中程度に小さいフォントサイズ */
  }

  .en.smaller {
    font-size: 0.4rem; /* より小さいフォントサイズ */
  }
  /* .spot-details__title {
    font-size: 4.4vw;
  }
  .spot-details__description {
    font-size: 4vw;
  }  */
  .spot-details__tag {
    padding: 0 10px;
  }

  .nearby-spots__item {
    width: 80vw;
  }
  .nearby-spots__title {
    font-size: 4.125vw;
  }
  .spot-details__tags {
    font-size: 3.5vw;
  }
  .nearby-spots__city {
    font-size: 3vw;
  }
  .nearby-spots__description {
    font-size: 3vw;
  }
  .nearby-spots__map-iframe {
    width: 38vw;
    height: 50px;
  }
  .recommended-spots__item {
    width: 80vw;
  }
  .recommended-spots__item {
    width: 80vw;
  }
  .recommended-spots__title {
    font-size: 4.125vw;
  }

  .recommended-spots__city {
    font-size: 3vw;
  }
  .recommended-spots__description {
    font-size: 3vw;
  }
  .recommended-spots__map-iframe {
    width: 38vw;
    height: 50px;
  }
}
