body {
  font-family: Arial, sans-serif;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
li {
  list-style: none;
}
.wrapper {
  display: flex;
}
.background-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(50% - 250px);
  background-image: url(../img/PC_bg.png);
  background-size: cover;
  background-position: center;
}
.background-right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(50% - 250px);
}
.background-right__inner {
  padding: 10%;
  text-align: right;
}
.background__logo {
  margin-bottom: 50px;
}
.background__nav-item {
  padding: 10px 0;
}
.background__nav-item a {
  color: #2ea7e0;
  font-size: 1.4vw;
  font-weight: bold;
  line-height: 1.5;
}
.center-content {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  margin: 0 auto;
}
.header {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 460px; /* padding20px*2を考慮し、mainの最大幅に合わせる */
  width: 100%;
  z-index: 9999;
}
.header__logo {
  display: flex;
  flex-direction: column;
}

.header__tagline {
  order: -1;
  font-size: 1.2rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: Futura;
  font-weight: bold;
  letter-spacing: 3.6px;
}

.header__menu-inner {
  display: flex;
  justify-self: space-between;
  gap: 8px;
  align-items: center;
}
.header__btn-lang {
  position: relative;
  border: solid 1px #2ea7e0;
  background: #fff;
  cursor: pointer;
  width: 45px;
  height: 25px;
  border-radius: 100px;
}
.header__btn-lang:hover {
  border: solid 1px #e73118;
  background: #e73118;
  color: #fff;
}
.header__btn-lang a {
  position: absolute;
  top: 5.5px;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.header__btn-lang:hover #Vector {
  stroke: #fff; /* ホバー時に色を変更 */
}

.header__btn-lang .header__btn-lang-text {
  font-size: 0.7rem;
  color: #2ea7e0;
  font-weight: bold;
}
.header__btn-lang .header__btn-lang-text {
  font-size: 0.7rem;
  color: #2ea7e0;
  font-weight: bold;
}
.header__btn-lang .header__btn-lang-text:hover {
  color: #fff;
}

.header__btn-mypage {
  position: relative;
  border: solid 1px #2ea7e0;
  background: #fff;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50px;
}

.header__btn-mypage a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 3px;
  left: 7px;
}

.header__btn-mypage-text {
  margin-top: 1px;
  font-size: 0.3rem;
  color: #2ea7e0;
  font-weight: bold;
}

.header__nav {
  position: fixed;
  z-index: 999;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: all 0.8s;
}
.header__nav-list {
  padding: 30% 15%;
  text-align: right;
}
.header__nav-logo {
  padding: 20px;
}
.header__nav-item a {
  color: #2ea7e0;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 3;
}
.header__nav-openbtn {
  position: relative;
  background: #2ea7e0;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  z-index: 1000;
}

.header__nav-openbtn span {
  display: inline-block;
  transition: all 0.8s;
  position: absolute;
  left: 7px;
  height: 1px;
  background: #fff;
  width: 60%;
}
.header__nav-openbtn span:nth-of-type(1) {
  top: 12px;
}
.header__nav-openbtn span:nth-of-type(2) {
  top: 18px;
}
.header__nav-openbtn span:nth-of-type(3) {
  top: 24px;
}

/*activeクラス付与*/
.header__nav-openbtn.active span:nth-of-type(1) {
  top: 11px;
  left: 7.5px;
  transform: translateY(6px) rotate(-45deg);
}
.header__nav-openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.header__nav-openbtn.active span:nth-of-type(3) {
  top: 23px;
  left: 7.5px;
  transform: translateY(-6px) rotate(45deg);
}
.header__nav.active {
  top: 0;
}
.main__mv-img {
  width: 100%;
}
.site-concept {
  margin-bottom: 30px;
  padding: 0 20px;
  background-image: url();
}
.site-concept p {
  color: #e73118;
  font-weight: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  line-height: 2;
  margin-left: 35px;
}
.trip-themes {
  position: relative;
}
.trip-themes__title,
.trip-themes__search-btn {
  position: relative;
  z-index: 1;
}
.trip-themes__inner {
  padding: 0 20px;
}
.trip-themes__title {
  color: #e73118;
  font-weight: bold;
  font-family: "Toppan Bunkyu Midashi Gothic";
  display: inline-block;
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  position: relative;
  left: 43%;
  transform: translateX(-50%);
}
.trip-themes__search-btn {
  display: inline;
  position: relative;
  left: 4%;
  padding-top: 5px;
  cursor: pointer;
}
.trip-themes__title.active {
  display: none;
}
.trip-themes__search-btn.active {
  display: none;
}
 .trip-themes__item {
  position: relative;
 }  
.trip-themes__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin: 50px 0;
}
.trip-themes__thumbnail {
  border-radius: 20px;
}
.trip-themes__theme-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.9px;
}
.trip-themes__theme-title span {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
}

/* 検索画面 */

.search__modal {
  background-color: rgba(217, 210, 210, 0.8);
  position: fixed;
  width: 500px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.search__modal-inner {
  border: 2px solid #2ea7e0;
  width: 496px;
  height: 260px;
  /* margin: auto; */
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}
.search__modal.active {
  display: block;
}
.search__close-container {
  position: relative;
}
.search__close-btn {
  position: absolute;
  top: 20px;
  right: 36px;
  border: 1px solid #2ea7e0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 1000;
}
.search__close-btn span {
  display: inline-block;
  transition: all 0.8s;
  position: absolute;
  left: 8px;
  height: 1px;
  background: #2ea7e0;
  width: 80%;
}
.search__close-btn span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  top: 13px;
  left: 5px;
}
.search__close-btn span:nth-of-type(2) {
  transform: translateY(-6px) rotate(45deg);
  top: 26px;
  left: 5px;
}
.search__modal p {
  text-align: center;
  font-family: YuGothic;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.4px;
  padding: 60px 0 20px;
}
.search__modal-container {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #2ea7e0;
  background-color: #fff;
  box-shadow: 3px 3px 0px 0px #333;
  padding: 3px 10px;
  border-radius: 10px;
  height: 45px;
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
}
.search__modal-container input[type="text"] {
  border: none;
  height: 38px;
}
.search__modal-container input[type="text"]:focus {
  outline: 0;
}
.search__modal-container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #2ea7e0;
  position: absolute;
  width: 52px;
  height: 45px;
  right: 0px;
  top: 0px;
  outline: none;
}
.search__modal-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  margin-top: -0.5em;
  color: #fff;
}
.search__modal-container .fa-search {
  font-size: 1.7rem; /* アイコンのサイズ変更 */
}
footer {
  background-color: #f0eae1;
  margin-top: 400px;
  padding: 60px 20px 0;
  text-align: center;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__title {
  font-family: YuGothic;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.075rem;
  margin-bottom: 20px;
}
.footer__instagram-icon {
  margin-bottom: 50px;
}
.footer__copyright {
  color: #2ea7e0;
  text-align: center;
  font-family: YuGothic;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.045rem;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .background-left {
    display: none;
  }
  .background-right {
    display: none;
  }
}
