body {
  font-family: Arial, sans-serif;
  /* background: #f0f0f0; */
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: top;
}
li {
  list-style: none;
}
.wrapper {
  display: flex;
}
.background-left {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: calc(50% - 250px);
  background-image: url(../img/PC_bg.png);
  background-size: cover;
  background-position: center;
}
.background-right {
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: calc(50% - 250px);
}
.background-right__inner {
  padding: 7%;
  text-align: right;
}
.background__logo {
  margin-bottom: 50px;
}
.background__nav-item {
  padding: 3px 0;
}
.background__nav-item a {
  color: #2ea7e0;
  font-size: 1.4vw;
  font-weight: bold;
  line-height: 1.5;
}
.background__nav-item a:hover {
  color: #e73118;
}
.background__extra-items {
  margin-top: 30px;
}
.background__extra-item a {
  color: #606060;
  font-size: 1vw;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
}
.background__extra-instagram-icon{
  margin-top: 5px;
}
.center-content {
  max-width: 500px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #2ea7e0;
  margin: 0 auto;
}
.header {
  background-color: rgba(255, 255, 255, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 20px 40px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  max-width: 500px; /* padding20px*2を考慮し、mainの最大幅に合わせる */
  box-sizing: border-box;
  width: 100%;
  z-index: 9999;
}
.header__fixed-logo {
  width: 35%;
  display: none;
}

.header.fixed .header__logo {
  display: none;
}

.header.fixed .header__fixed-logo {
  display: block;
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border-bottom: 1px solid #2ea7e0;
  max-width: 500px; /* padding20px*2を考慮し、mainの最大幅に合わせる */
  width: 100%;
  padding: 10px 20px;
  z-index: 9999;
}
/* #header.UpMove{
  position: fixed;
  width:100%;
  animation: UpAnime 0.5s forwards;
}

@keyframes UpAnime{
  from {
    opacity: 1;
  transform: translateY(0);
  }
  to {
    opacity: 0;
  transform: translateY(-100px);
  }
} */

.header__logo {
  display: flex;
  flex-direction: column;
}

.header__tagline {
  order: -1;
  font-size: 1.2rem;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  font-family: Futura;
  font-weight: bold;
  letter-spacing: 3.6px;
}

.header__menu-inner {
  display: flex;
  justify-self: space-between;
  gap: 8px;
  align-items: center;
}
.header__btn-lang {
  position: relative;
  border: solid 1px #2ea7e0;
  background: #fff;
  cursor: pointer;
  width: 45px;
  height: 25px;
  border-radius: 100px;
}
.header__btn-lang:hover {
  border: solid 1px #e73118;
  background: #e73118;
  color: #fff;
}
.header__btn-lang a {
  position: absolute;
  top: 5.5px;
  left: 7px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2px;
}

.header__btn-lang:hover #Vector {
  stroke: #fff; /* ホバー時に色を変更 */
}

.header__btn-lang .header__btn-lang-text {
  font-size: 0.7rem;
  color: #2ea7e0;
  font-weight: bold;
}
.header__btn-lang .header__btn-lang-text {
  font-size: 0.7rem;
  color: #2ea7e0;
  font-weight: bold;
}
.header__btn-lang:hover .header__btn-lang-text {
  color: #fff;
}

.header__btn-mypage {
  position: relative;
  border: solid 1px #2ea7e0;
  background: #fff;
  cursor: pointer;
  width: 34px;
  height: 34px;
  border-radius: 50px;
}

.header__btn-mypage a {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 3px;
  left: 7px;
}

.header__btn-mypage-text {
  margin-top: 1px;
  font-size: 0.3rem;
  color: #2ea7e0;
  font-weight: bold;
}

.header__nav {
  position: fixed;
  z-index: 999;
  top: -100vh;
  left: 0;
  width: 100%;
  height: 100vh;
  background: #fff;
  transition: all 0.8s;
}
.header__nav-list {
  padding: 30% 15%;
  text-align: right;
}
.header__nav-logo {
  padding: 20px;
}
.header__nav-item {
  padding: 10px 0;
}

.header__nav-item a {
  color: #2ea7e0;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
}
.header__nav-item a:hover {
  color: #e73118;
}
.extra-nav-items {
  margin-top: 30px;
}
.extra-nav-items a {
  color: #606060;
  font-size: 1rem;
  font-weight: bold;
  line-height: 1.5;
  padding: 10px 0;
}
.extra__instagram-icon{
  margin-top: 10px ;
}
.header__nav-openbtn {
  position: relative;
  background: #2ea7e0;
  cursor: pointer;
  width: 36px;
  height: 36px;
  border-radius: 50px;
  z-index: 1000;
}

.header__nav-openbtn span {
  display: inline-block;
  transition: all 0.8s;
  position: absolute;
  left: 7px;
  height: 1px;
  background: #fff;
  width: 60%;
}
.header__nav-openbtn span:nth-of-type(1) {
  top: 12px;
}
.header__nav-openbtn span:nth-of-type(2) {
  top: 18px;
}
.header__nav-openbtn span:nth-of-type(3) {
  top: 24px;
}

/*activeクラス付与*/
.header__nav-openbtn.active span:nth-of-type(1) {
  top: 11px;
  left: 7.5px;
  transform: translateY(6px) rotate(-45deg);
}
.header__nav-openbtn.active span:nth-of-type(2) {
  opacity: 0;
}
.header__nav-openbtn.active span:nth-of-type(3) {
  top: 23px;
  left: 7.5px;
  transform: translateY(-6px) rotate(45deg);
}
.header__nav.active {
  top: 0;
}
.main__mv-slider {
  z-index: 10;
}
.main__mv-img {
  width: 100%;
}
/* mvスライドのarrowボタン変更 */
.splide__arrow {
  background: none  !important; /* 背景を削除 */
}
.splide__arrow svg {
  fill: #fff !important; /* SVGの色を白に設定 */
}
.site-concept {
  padding: 0 20px;
  background-image: url(../img/concept_bg.png);
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  height: 500px;
  margin: -300px 0 30px;
}
.site-concept p {
  color: #e73118;
  font-weight: 1.3rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  line-height: 2;
  position: absolute;
  top: 75%;
  left: 7%;
}
.trip-themes {
  position: relative;
}
.trip-themes__title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
  padding: 0 20px;
  margin: 0 auto;
  box-sizing: border-box;
}
.trip-themes__inner {
  padding: 0 20px;
}
.trip-themes__title {
  color: #e73118;
  font-weight: bold;
  font-family: "Toppan Bunkyu Midashi Gothic";
  display: inline-block;
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 0.1rem;
  white-space: nowrap;
}
.trip-themes__search-btn {
  display: inline;
  cursor: pointer;
}
.trip-themes__title.active {
  display: none;
}
.trip-themes__search-btn.active {
  display: none;
}
.trip-themes__item {
  position: relative;
}
.trip-themes__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 100%;
  margin: 50px 0;
}
.trip-themes__thumbnail {
  border-radius: 20px;
}
.trip-themes__theme-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  text-align: center;
  font-family: "Noto Sans JP";
  font-size: 1rem;
  line-height: 1.3;
  letter-spacing: 0.9px;
  white-space: nowrap;
}
.trip-themes__theme-title span {
  font-size: 2rem;
  font-weight: bold;
  display: inline-block;
  white-space: normal;
}

/* 検索画面 */

.search__modal {
  background-color: rgba(217, 210, 210, 0.8);
  position: fixed;
  width: 500px;
  height: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}
.search__modal-inner {
  box-shadow: inset 0 0 0 2px #2ea7e0;
  max-width: 500px;
  width: 100%;
  height: 260px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.8);
}
.search__modal.active {
  display: block;
}
.search__close-container {
  position: relative;
}
.search__close-btn {
  position: absolute;
  top: 20px;
  right: 36px;
  border: 1px solid #2ea7e0;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  z-index: 1000;
}
.search__close-btn span {
  display: inline-block;
  transition: all 0.8s;
  position: absolute;
  left: 8px;
  height: 1px;
  background: #2ea7e0;
  width: 80%;
}
.search__close-btn span:nth-of-type(1) {
  transform: translateY(6px) rotate(-45deg);
  top: 13px;
  left: 5px;
}
.search__close-btn span:nth-of-type(2) {
  transform: translateY(-6px) rotate(45deg);
  top: 26px;
  left: 5px;
}
.search__modal p {
  text-align: center;
  font-family: YuGothic;
  font-size: 1.6rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1.4px;
  padding: 60px 0 20px;
}
.search__modal-container {
  position: relative;
  box-sizing: border-box;
  border: 1px solid #2ea7e0;
  background-color: #fff;
  box-shadow: 3px 3px 0px 0px #333;
  padding: 3px 10px;
  border-radius: 10px;
  height: 45px;
  width: 350px;
  overflow: hidden;
  margin: 0 auto;
}
.search__modal-container input[type="text"] {
  border: none;
  height: 38px;
}
.search__modal-container input[type="text"]:focus {
  outline: 0;
}
.search__modal-container input[type="submit"] {
  cursor: pointer;
  font-family: FontAwesome;
  border: none;
  background: #2ea7e0;
  position: absolute;
  width: 52px;
  height: 45px;
  right: 0px;
  top: 0px;
  outline: none;
}
.search__modal-container i {
  position: absolute;
  top: 50%;
  right: 10px;
  cursor: pointer;
  margin-top: -0.5em;
  color: #fff;
}
.search__modal-container .fa-search {
  font-size: 1.7rem; /* アイコンのサイズ変更 */
}

.columns {
  text-align: center;
  background-color: #e73118;
  color: #fff;
  /* height: 1034px; */
  padding: 60px 20px 40px;
}
.columns__container {
  border: 1px solid #fff;
  border-radius: 20px;
  position: relative;
  padding: 70px 0 50px;
}
.columns__header {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  padding: 12px 7px;
  font-size: 1.1rem;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 1px;
  background: #2ea7e0;
  font-family: YuGothic;
  text-align: center;
  white-space: nowrap;
}
.columns__header::before {
  content: "";
  position: absolute;
  top: 65%;
  left: 45%;
  transform: translateX(-45%);
  border: 20px solid transparent;
  border-top: 15px solid #2ea7e0;
  transform: rotate(-90deg);
}
.columns__title {
  font-family: "Toppan Bunkyu Midashi Gothic";
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.3;
  letter-spacing: 1.6px;
  margin-bottom: 35px;
}
.columns__img {
  border-radius: 20px;
  margin-bottom: 35px;
  width: 80%;
  height: auto;
  object-fit: cover;
}
.columns__text {
  text-align: left;
  padding: 0 10% 10%;
  font-size: 1.5rem;
  line-height: 1.5;
  font-family: YuGothic;
  letter-spacing: 0.1rem;
}
.columns__author {
  margin-bottom: 15px;
}
.columns__description {
  position: relative;
  padding: 5% 16%;
}
.columns__description::before,
.columns__description::after {
  position: absolute;
  content: "";
  width: 14%;
  aspect-ratio: 1.4 / 1;
}
.columns__description::before {
  border-left: solid 1px;
  border-top: solid 1px;
  top: 0;
  left: 0;
}
.columns__description::after {
  border-right: solid 1px;
  border-bottom: solid 1px;
  bottom: 0;
  right: 0;
}
.columns__btn {
  background: #2ea7e0;
  cursor: pointer;
  width: 250px;
  height: 60px;
  border-radius: 100px;
  box-shadow: 3px 3px 0px 0px #333;
  margin: 5% auto 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.columns__btn:hover {
  box-shadow: 1px 1px 0px 0px #333;
  transform: translateY(3px);
}
.columns__btn a {
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.25rem;
  letter-spacing: 0.1rem;
}

.splide__pagination__page.is-active {
  background: #2ea7e0 !important; /* アクティブなドットの背景色 */
}
footer {
  background-color: #f0eae1;
  padding: 60px 20px 0;
  text-align: center;
}
.footer__logo {
  margin-bottom: 30px;
}
.footer__title {
  font-family: YuGothic;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: bold;
  line-height: 1.5;
  letter-spacing: 0.075rem;
  margin-bottom: 20px;
}
.footer__instagram-icon {
  margin-bottom: 50px;
}
.footer__copyright {
  color: #2ea7e0;
  text-align: center;
  font-family: YuGothic;
  font-size: 0.7rem;
  font-style: normal;
  font-weight: bold;
  line-height: 2;
  letter-spacing: 0.045rem;
  padding-bottom: 40px;
}
@media (max-width: 767px) {
  .background-left {
    display: none;
  }
  .background-right {
    display: none;
  }

  .header {
    padding: 10px;
  }
  .header__logo {
    margin-left: 20px;
}
.header__menu-inner {
  margin-right: 20px;
}
.header.fixed{
  box-sizing: border-box;
  border: 1px solid #2ea7e0;
}
  .trip-themes__title {
    font-size: calc(1.2rem + 1vw);
  }
  .trip-themes__search-btn {
    padding: 0;
  }

  .trip-themes__theme-title {
    font-size: 0.9rem;
  }
  .trip-themes__theme-title span {
    font-size: 1.5rem;
  }
  .search__modal {
    width: 100%;
  }
}
